
*{
	margin:0;
	padding: 0;
}


.c1{
	background-color: #3F51B5;
}
.c2{
	background-color: #673AB7;
}
.c3 {
	background-color: #9C27B0;
}
.c4 {
	background-color: #E91E63;
}
.c5 {
	background-color: #f44336;
}

.c6 {
	background-color: #FDD835;
}
.c7{
background-color: #FF9800;

}
.c8{
	background-color: #43A047;
}
.c9{
	background-color: #00897B;
}
.c10{
	background-color: #80DEEA;
}
.c11{
	background-color: #80DEEA;
}
.c12{
	background-color: #80DEEA;
}
.c13{
	background-color: #80DEEA;
}
.c14{
	background-color: #80DEEA;
}
