
@keyframes move {

    form{
        margin-left:0%;
    }
    to{
        margin-left:50%;
    }
}
.ball{
    width:200px;
    height: 200px;
    background-color: #f56;
    border-radius: 50%;
    animation: move 2s;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
}