*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
  position: absolute;

}
body{
  font-family: 'Lato','Helvetica',sans-serif;
  position: absolute;
}

main{

}

header{
  background-color: #e74c3c;
  padding: 1em;
  font-family: 'Lato','Helvetica',sans-serif;
  color: rgba(245, 245, 245, 0.63);
}
header h1{
  font-weight: normal;
  display: inline-block;
}
header nav ul{
  display: inline-block;
}
header nav ul li{
    display: inline-block;
}
nav{
  float: right;
}


button{
  padding: 10px;
  border: none;
  box-shadow: 0px 4px #ccc;
  outline: none;
  border:2px solid #dfdfdf;
}
button:active{
  box-shadow: 4px 2px #ccc;
}
