

.container{
  width:80%;
  margin: 20px auto;
  background-color: #65d;
  padding: 10px;
}

.box{
  background-color: yellow;
  min-height: 100px;
  min-width: 100px;
  width: 100px;
  transition: width 2s,background-color 10s , transform 5s , opacity 15s ;
}
.box:hover{
  width:200px;
  background-color: red;
  transform: rotate(45deg);
  opacity: 0.3;
}
